<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mpcl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.operation.ekart.FlipkartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.operation.box_wise_scan.BoxWiseScanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.operation.boxpacking.BoxPackingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.finder.FinderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pincode_finder.PincodeFinderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.todo.TodayActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.todo.TodoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.onboarding.OTPVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.operation.PODUploadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.pickup.PickupUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pickup.PickupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.barcode_setting.PickupScanActivity"
            android:exported="true" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.barcode_setting.StickerPrintActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.barcode_setting.DeviceSetupActivity"
            android:exported="true" />
        <activity
            android:name=".activity.barcode_setting.StickerPrintingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activity.barcode_setting.DeviceSettingActivity"
            android:exported="true" />
        <activity android:name=".activity.operation.LocationScanActivity" />
        <activity
            android:name=".activity.operation.StockCheckingActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.operation.VehicleLoadUploadActivity"
            android:exported="false" />
        <activity
            android:name=".activity.operation.EkartLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.operation.AcCopyUploadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.OperationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FringerPrintLoginMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OptionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".util.qr_scanner.BarcodeScanningActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".util.qr_scanner.QRcodeScanningActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/FullScreenTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <receiver
            android:name=".receiver.AlertReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>